<header class="site-header" role="banner">

 <div class="wrapper">

    <p class="site-sub">Wake Up.</p>
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <p  class="site-sub">Take Action.</p>
    <div></div>
    <p style="padding: 0px 30px 30px 0px" class="site-sub">We help Catholic teens and young adults understand Catholicism 🇻🇦, build community 👫  and be better humans ❤️</p>
  </div>

  <div class="card-grid">
  
  <div id="container">
    <div id="inner">
      <div class="card">
          <img src="/assets/images/catholic-late-night-banner.jpg" alt="">
          <h2>Catholic Late Night</h2>
          <a href="https://CatholicLateNight.com">Check it out.</a>
      </div>
    </div>
  </div>

  <div id="container1">
    <div id="inner1">
    <div class="card">
        <img class="bg-yellow" src="/assets/images/mug-primary-pattern-WEB.png" alt="">
        <h2>Amazing Merch</h2>
        <a href="https://CatholicLateNight.com/store/">Check it out.</a>
    </div>
      
  </div>
</div>
</div>


  <div class="overt-space">
    <div class="space-color"></div>
    <div class='stars'></div>
    <div class='twinkling'></div>
    <div class='clouds'></div>
  </div>

 
</header>
