.overt-space {
	background-color: $dblue;
	height: 500px;
}

a {
	color: #f00f50;
}

.post-list {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 1fr min-content;
}

.post-list li {
	padding: 1em;
	box-shadow: 1px 1px 15px 2px #00000015;
	transition: 0.5s;

	&:hover {
		box-shadow: 5px 5px 15px 2px #00000015;
		transition: 0.5s;
	}
}

.cta-btn {
	border-radius: 5px;
	border: 1px solid #f00f50;
	color: #f00f50;
	padding: 5px;
	text-decoration: none;
}

.site-header {
	border-top: none;
	border-bottom: 2px solid #000000;
}

.site-header .wrapper {
	display: grid;
	grid-template-columns: 100px auto 100px;
}

.page-content {
	border-top: 1px solid #000000;
	margin: 3px 40px;
}

.site-sub {
	padding-top: 50px;
}

.site-footer {
	background-image: url(../assets/images/over-cover-image-blank.png);
	background-size: cover;
}

.site-title {
	font-weight: 800;
	display: block;
	text-align: center;
	float: none;
	font-size: 3em;
	margin: 40px;
}

h2 {
	font-size: 2em;
	text-align: right;
	background-color: $yellow;
	display: inline-block;
}

hr {
	background-color: #efefef;
	margin: 30px 0px;
	border: none;
	height: 5px;
}

.logo-overt-red {
	color: #f00f50;
	font-weight: 800;
	font-size: 0.5em;
}